<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>All.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>appweb.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>authpass 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>authpass.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>espcmd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>httpcmd.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>libmpr-openssl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>makerom.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>watchdog.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FE5C9552FE5CCF5600000006</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000000A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000000E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000012</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000026</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000027</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000007E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000080</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000081</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000082</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000083</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000084</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000085</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000086</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000087</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000088</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000089</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000008A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000008B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000008D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000008F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000091</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000093</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000095</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000097</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF5600000099</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000009B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000009D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF560000009F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000CD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000CE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000E4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000EB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000EE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000F0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000F1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000F6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FE5C9552FE5CCF56000000F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
